include mixin
aside
        section.sidebar
                .logo
                        +svg('logo')
                        .logo-title
                                p.logo-name Dashboard
                                p.version v.01
                .navigation 
                        include navigation
                .user 
                        img(src="../assets/user.jpg", alt="User")
                        .user-info
                                p.name Evano
                                p.position Project Manager