@import "variables";
@import "mixin";

.main {
  padding: 20px;
  @media screen and (min-width: 767px) {
    padding-top: 41px;
    padding-left: 71px;
  }
  .title-hello {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: inherit;
    @media screen and (min-width: 767px) {
      margin-bottom: 51px;
    }
  }
  .page-title {
    display: flex;
    gap: 14px;
    align-items: center;
    position: relative;
    background-color: $accent-purple-color;
    color: $white;
    border-radius: 8px;
    padding: 11px 8px 11px 11px;
    margin-bottom: 15px;
    svg {
      width: 24px;
      height: 24px;
      fill: $white;
    }
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
}
.dashboard {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-radius: 30px;
  background: $white;
  box-shadow: 0 10px 60px 0 #e2ecf980;
  padding: 15px 20px;
  @media screen and (min-width: 767px) {
    width: 968px;
    padding: 30px 40px 40px 38px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-title {
    font-weight: 600;
    font-size: 22px;
    height: 30px;
    margin-bottom: 7px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .members {
    display: none;
    @media screen and (min-width: 767px) {
      display: block;
      font-weight: 400;
      color: $primary-green-color;
      height: 21px;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
  .search {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: flex-end;

    .search-form {
      box-sizing: border-box;
      display: flex;
      border-radius: 10px;
      width: 100%;
      padding: 7px 8px;
      background-color: #f9fbff;
      @media screen and (min-width: 767px) {
        margin-left: auto;
        width: 216px;
      }

      .search-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        margin-right: 8px;
        svg {
          width: 24px;
          height: 24px;
          stroke: #7e7e7e;
          fill: none;
        }
      }
      .search-input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        &::-ms-clear {
          display: none;
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
        &::placeholder {
          color: $secondary-grey-color;
        }
      }
    }
  }

  .members-table {
    display: none;
    @media screen and (min-width: 767px) {
      display: table;
      color: #292d32;
      width: 100%;
      margin-bottom: 30px;
      margin-top: 40px;
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      thead {
        color: $secondary-grey-color;
        th {
          box-sizing: border-box;
          height: 35px;
          padding: 0;
          text-align: start;
        }
      }
      tbody {
        td {
          box-sizing: border-box;
          padding: 0;
          height: 69px;
          border-bottom: 1px solid #eee;
        }
      }

      p {
        @include paragraph;
        &.active {
          @include active;
        }
        &.inactive {
          @include inactive;
        }
      }
    }
  }
  .members-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 15px;
    @media screen and (min-width: 767px) {
      display: none;
    }
    .member-list-item {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
      background-color: $background-color;
      box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
      border-radius: 8px;
      border: 1px solid #eee;
      font-size: 12px;
      font-weight: 400;
      .item {
        flex: 1;
      }
      .member-info {
        color: $secondary-grey-color;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p {
        &.active {
          @include paragraph;
          @include active;
        }
        &.inactive {
          @include paragraph;
          @include inactive;
        }
      }
    }
  }
  .border {
    display: none;
    @media screen and (min-width: 767px) {
      display: block;
      position: absolute;
      top: 166px;
      left: 0;
      width: 100%;
      z-index: 6;
      border-bottom: 1px solid #eee;
    }
  }
  .pagination {
    display: none;
    @media screen and (min-width: 767px) {
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
      display: flex;
      justify-content: space-between;
      p {
        color: $secondary-grey-color;
      }
      ul {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        li {
          border: 1px solid #eee;
          border-radius: 4px;
          padding: 6px 5px;
          width: 26px;
          text-align: center;
          background: #f5f5f5;
          &.accent {
            background-color: $accent-purple-color;
            color: $white;
            border: 1px solid $accent-purple-color;
          }
          &.etc {
            background-color: transparent;
            border: none;
          }
        }
      }
    }
  }
}
