.sidebar {
  width: 306px;
  //   height: 100vh;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  background: #fff;
  padding: 36px 28px 76px 28px;
}

.logo {
  display: flex;
  align-items: center;
  svg {
    width: 37px;
    height: 37px;
    margin-left: 8px;
    stroke: #000;
  }
}
.logo-title {
  display: flex;
  align-items: baseline;
  .logo-name {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: #000;
    margin-left: 4px;
  }
  .version {
    font-size: 10px;
    letter-spacing: -0.01em;
    color: #838383;
  }
}
