@import "variables";
@import "mixin";

.sidebar {
  display: none;
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 306px;
    height: 100%;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    background: $white;
    padding: 36px 28px 76px 28px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  svg {
    width: 37px;
    height: 37px;
    stroke: #000;
  }
  .logo-title {
    display: flex;
    align-items: baseline;
    .logo-name {
      font-weight: 600;
      font-size: 26px;
      letter-spacing: 0.01em;
      margin-right: 4px;
      margin-left: 8px;
    }
    .version {
      font-size: 10px;
      letter-spacing: -0.01em;
      color: #838383;
    }
  }
}
.user {
  display: flex;
  gap: 12px;
  margin-top: auto;
  align-items: center;
  .position {
    color: #757575;
  }
}
