$primary-green-color: #16c098;
$primary-green-color-38: rgba(22, 192, 152, 0.38);
$accent-green-color: #008767;
$secondary-green-color: #00b087;
$accent-purple-color: #5932ea;
$primary-red-color: #df0404;
$secondary-red-color: #ffc5c5;
$primary-grey-color: #9197b3;
$secondary-grey-color: #b5b7c0;
$white: #fff;
